# Ignore .DS_Store files
.DS_Store

# Ignore all files in __pycache__ directories
__pycache__/

# Ignore all .cpython-*.pyc files
*.cpython-*.pyc

.pytest_cache/

comp0034_cw1.egg-info/

manual_modifications.md